<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.studybuddy.rcos.studybuddy_app" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".timer"
            android:label="@string/title_activity_timer"
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.github.studybuddy.rcos.studybuddy_app.MainActivity" />
        </activity>
        <activity
            android:name=".assign_add_Fragment"
            android:label="Add New Assignment" >
        </activity>
        <activity
            android:name=".Grades"
            android:label="@string/title_activity_grades"
            android:screenOrientation="landscape" >
            <!-- android:parentActivityName=".grade_Fragment" > -->
        </activity>
        <activity
            android:name=".AddAssignment"
            android:label="@string/AddAssignmentText"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".EditAssignments"
            android:label="@string/EditAssignmentText"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".AddClass"
            android:label="@string/AddClassText"
            android:parentActivityName=".MainActivity" >
        </activity>
        <activity
            android:name=".EditClasses"
            android:label="@string/EditClassesText"
            android:parentActivityName=".MainActivity" >
        </activity>
    </application>

</manifest>
